header a{
    text-decoration: none;
}
header a:hover{
    text-decoration: none;
}
.menu-landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-logo {
    display:grid; /* Si quisiera los elementos juntos solo le doy display flex. */
    grid-template-columns: 1fr 1fr;
    background-color: black;   
    align-items: center;
}

.container-logo>img {
    height: 50px;
    width: 50px;
    justify-self: center;
}

.container-logo>h1 {
    justify-self:left;
    
    color: white;
    font-size: 30px;
    padding-top: 10px;
}

.container-socialMediaBar {
    display:grid;
    justify-content: end;
    padding-right: 60px;
    align-items: center;
    grid-template-columns: repeat(4, 90px);
    grid-column-gap: 5px;
    background-color: black;
}

.contenedorPublicitario{
    background-color: black;
    color: white;
    display: grid;
    /* grid:
        'img textoPublicitario'; Definimos la grilla visual, al lado derecho de la pantalla la imagen y lo otro a la derecha */
    grid-template-columns: repeat(6, 1fr); /* Definimos el tamaño y la cantidad de las columnas*/
    grid-template-rows: 1 fr; /* Definimos el tamaño y la cantidad de las filas*/
}

.contenedorPublicitario>.gradiante {
    grid-column: 4/5;
    grid-row: 1/3;
    background: linear-gradient(10deg, rgb(0, 47, 255), rgb(175, 1, 255), rgb(255, 0, 200));
}

.contenedorPublicitario>.textoPublicitario {
    display: grid;
    grid-column: 5/7;
    grid-row: 1/3;
    text-align: center; /*Alinear horizontalmente con grid*/
    align-items: center; /*Alinear verticalmente con grid*/
}

.contenedorPublicitario>.textoPublicitario>h1 {
    font-size: 35px;
}

.contenedorPublicitario>.textoPublicitario>h2 {
    font-size: 30px;
}

.contenedorPublicitario>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    grid-column: 1/4;
    grid-row: 1/3;
}

.segundaFila {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Definimos el tamaño y la cantidad de las columnas*/
    grid-template-rows: 1 fr; /* Definimos el tamaño y la cantidad de las filas*/
}
.segundaFila>.beneficios {
    background-color: black;
    color: white;
    display: grid;
    grid-column: 1/4;
    grid-gap: 20px;
    padding: 20px;
}

.segundaFila>.beneficios>h2 {
    font-size: 31PX;
}

.segundaFila>.gradiante {
    grid-column: 4/5;
    grid-row: 1/3;
    background: linear-gradient(10deg,rgb(255, 0, 200), rgb(175, 1, 255), rgb(0, 47, 255));
}

.formularioContacto {
    grid-column: 5/7;
    background-color: #262626;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.formularioContacto>h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f39c12;
}

.formularioContacto>label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.formularioContacto>input, .formularioContacto>textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
}

.formularioContacto>textarea {
    resize: vertical;
    height: 150px;
}

.formularioContacto>button {
    width: 100%;
    padding: 10px;
    background-color: #f39c12;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formularioContacto>button:hover {
    background-color: #e67e22;
}

.boton-flotante1 {
	font-size: 12px; /* Cambiar el tamaño de la tipografia */
	text-transform:capitalize; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
    text-decoration: none; /* Quita el subrayado */
	color: #ffffff; /* Color del texto */
	border-radius: 250px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #000000; /* Color de fondo */
	padding: 10px 10px; /* Relleno del boton, primer parametro a lo alto, segundo a lo ancho*/
	position: fixed; /* Posición Fixed o fijada en la pantalla, esta opción habilita las propiedades siguientes de posición de pantalla*/
	bottom: 40px; /* Margen desde abajo */
	right: 40px;  /* Margen desde la derecha */
	transition: all 300ms ease 0ms; /* Transicion de todos los valores */
	box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.1);
	z-index: 1;
    border: none;
}

.boton-flotante1:hover {
	background-color: #000000; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.3); /* Sombra al pasar el cursor */
	transform: translateY(-7px); /* Movimiento hacia arriba, curiosamente al ser negativo sube y al ser positivo baja */   
}

@media only screen and (max-width: 600px) { /* Query media para hacer responsive el bóton flotante*/
 	.boton-flotante1 {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 

.boton-flotante2 {
	font-size: 12px; /* Cambiar el tamaño de la tipografia */
	text-transform:capitalize; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
    text-decoration: none; /* Quita el subrayado */
	color: #ffffff; /* Color del texto */
	border-radius: 250px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #000000; /* Color de fondo */
	padding: 10px 10px; /* Relleno del boton, primer parametro a lo alto, segundo a lo ancho*/
	position: fixed; /* Posición Fixed o fijada en la pantalla, esta opción habilita las propiedades siguientes de posición de pantalla*/
	bottom: 100px; /* Margen desde abajo */
	right: 40px;  /* Margen desde la derecha */
	transition: all 300ms ease 0ms; /* Transicion de todos los valores */
	box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.1);
	z-index: 1;
    border: none;
}

.boton-flotante2:hover {
	background-color: #000000; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.3); /* Sombra al pasar el cursor */
	transform: translateY(-7px); /* Movimiento hacia arriba, curiosamente al ser negativo sube y al ser positivo baja */   
}

@media only screen and (max-width: 600px) { /* Query media para hacer responsive el bóton flotante*/
 	.boton-flotante2 {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 30px;
		right: 30px;
	}
} 

.carruselContenedor {
    padding: 0px;
    background: linear-gradient(10deg,rgb(255, 0, 200), rgb(175, 1, 255), rgb(0, 47, 255));
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 335px;
    grid-auto-rows:max-content;
    justify-items: center;
    align-items: center;
    overflow-x: auto; /* Permite que el contenido se desborde */
}

.galeria {
    grid-column: 3/7;
    grid-row: 1/2;
    height: 100%;
    object-fit: cover;
}

.lista-imagenes>img {
    object-fit: cover;
    width: 500px;/*Anchura de las imagenes como elemento img desbordadas, se preserva un límite automatico para que la imagen no se deforme 325px*/
    height: 310px;/*Altura de las imagenes como elemento img desbordadas*/
    display: block;
    padding-right: 5px; /*Relleno en la derecha de las imagenes*/
    padding-left: 5px; /*Relleno izquierda de las imagenes*/
    background: linear-gradient(10deg,rgb(255, 0, 200), rgb(175, 1, 255), rgb(0, 47, 255));
}
.lista-imagenes {
    display: flex;
    width: 635px;/*Ancho del visualizador de las imganes 420px*/
    height: 330px;/*Altura del contenedor de las imagenes desbordadas 335px*/
    overflow-y: auto;
    margin-top: 0px;
    
}