* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: black;
    padding-top: 80px;
}
.brand{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}
.brand img{
    height: 30px;
    width: 30px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}
img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    background-color: black; /* Color de fondo para evitar que el contenido lo sobreponga */
}
.scroll{
    background-color: aliceblue;
    box-shadow: .1rem .2rem 3rem black;
}
.scroll img{
    filter: invert(15%);
}
.scroll h1{
    color: black;
}
.carrito {
    filter: invert(100%);
    width: 45px;
    height: auto;
}
.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}
.contenedor>article{

    height: 500px; /* Fijamos una altura uniforme para todos los contenedores */
    width: 320px; /* Fijamos el ancho también */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: slateblue;
    border-radius: 20px;
    overflow: hidden; /* Esto recorta el contenido que desborda */
    position: relative; /* Necesario para hacer transiciones dentro */
}
.contenedor>article:hover{
    white-space: normal; /* Permite que el texto se muestre en varias líneas */
    overflow: auto; /* Habilita el desplazamiento si es necesario */
    height: auto; /* Permite ajustar el tamaño para mostrar todo el contenido */
    background-color: blueviolet;
}

.informacion {
    font-size: auto;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden; /* Recortar si el texto es demasiado largo */
    white-space: nowrap; /* Evita que el texto se quiebre en varias líneas */
    text-overflow: ellipsis; /* Añade "..." si el texto es demasiado largo */
    transition: all 0.3s ease; /* Suaviza la transición al pasar el mouse */
    width: 100%; /* Asegura que el texto se ajuste al ancho del contenedor */
    position: relative; /* Para desplazar el texto */

}
.informacion>p:first-child {
    font-family: 'Montserrat', sans-serif;
}
.informacion .precio {
    font-size: 20px;
    font-weight: 500;
}
.informacion .precio span {
    font-size: 17px;
    font-weight: 300;
}
.informacion button{
    background-color: rgb(255, 116, 42);
    width: 100px;
    height: 35;
    border-radius: 10px;
    border: none;

    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}
.informacion button:hover {
    background-color: yellow;
}